@page
@using Chirp.Core
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<Author> SignInManager
@model Chirp.Web.Areas.Identity.Pages.Account.AboutMe.InfoPage
@{
ViewData["Title"] = "About me";
var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<h3>@ViewData["Title"]</h3>

<ul>
        @{
        var usernameClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value;
        var loginProvider = Model.LoginProvider;
        
        @if (loginProvider == "Default")
        { 
                var emailClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
                <li>Your Username is: @usernameClaim</li>
                <li>Your email is: @emailClaim</li>
        }
        else
        {
                <li>Your Username is: @usernameClaim</li>
                <li>Logged in via: @Model.LoginProvider</li>
        }
        
        }
</ul>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
