@page
@using Chirp.Core
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<Author> SignInManager
@model Chirp.Web.Areas.Identity.Pages.Account.AboutMe.InfoPage
@{
ViewData["Title"] = "About me";
//Layout = "AboutMe/_Layout";
}

<h3>@ViewData["Title"]</h3>

<ul>
        <div>
        @{

                var usernameClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value;
                var loginProvider = Model.LoginProvider;

                @if (loginProvider == "Default")
                {
                        var emailClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
                        <li>Your Username is: @usernameClaim</li>
                        <li>Your email is: @emailClaim</li>
                }
                else
                {
                        <li>Your Username is: @usernameClaim</li>
                        <li>Logged in via: @Model.LoginProvider</li>
                }
        }
        </div>  
        
        <div>
                <h2>Your cheeps</h2>
                @foreach (var cheep in Model.Cheeps)
                {
                        <li>
                                <p>
                                        <strong>
                                                <a href="/@cheep.Author">@cheep.Author</a>
                                        </strong>
                                        @cheep.Text
                                        <small>&mdash; @cheep.TimeStamp</small>
                                        @if (User.Identity!.IsAuthenticated && User.Identity.Name != cheep.Author)
                                        {
                                                @if (Model.FollowerMap.ContainsKey(cheep.Author) && Model.FollowerMap[cheep.Author] == false)
                                                {
                                                        <form method="post" asp-page-handler="Follow">
                                                                <input type="hidden" name="page" value="@Request.Query["page"]"/>
                                                                <input type="hidden" name="authorName" value="@cheep.Author"/>
                                                                <button type="submit">Follow</button>
                                                        </form>
                                                }
                                                else
                                                {
                                                        <form method="post" asp-page-handler="Unfollow">
                                                                <input type="hidden" name="page" value="@Request.Query["page"]"/>
                                                                <input type="hidden" name="authorName" value="@cheep.Author"/>
                                                                <button type="submit">Unfollow</button>
                                                        </form>
                                                }
                                        }
                                </p>
                        </li>
                }
        </div>
        
                <div>
                        <h2>You are following: </h2>

                        @foreach (var following in Model.following)
                        {
                                <li>
                                        <strong>
                                                <a href="/@following">@following</a>
                                        </strong>
                                </li>
                        }

                </div>
        
</ul>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
