@page
@using Chirp.Core
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<Author> SignInManager
@model Chirp.Web.Areas.Identity.Pages.Account.AboutMe.InfoPage
@{
ViewData["Title"] = "About me";
var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<h3>@ViewData["Title"]</h3>

<ul>

        <ul>
                @foreach (var claim in User.Claims)
                {
                <li>@claim.Type: @claim.Value</li>
                }
        </ul>
        @{
        var emailClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
        var usernameClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value; // Replace with actual claim type if different
        @if (hasExternalLogins)
        {
              
        }
        }
        
        <li>Your Username is: @usernameClaim</li>
        <li>Your email is: @emailClaim</li>
        <li>@Model.ProviderDisplayName</li>
    
</ul>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
