@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Chirp.Core.CheepDTO>

@{
    var followerMap = ViewData["FollowerMap"] as Dictionary<string, bool> ?? new Dictionary<string, bool>();
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
}

<ul id="messagelist" class="cheeps">
    @foreach (var cheep in Model)
    {
    <li>
        <p>
            <strong>
                <a href="/@cheep.Author">@cheep.Author</a>
            </strong>
            @cheep.Text
            <small>&mdash; @cheep.TimeStamp</small>
            @if (User.Identity!.IsAuthenticated)
            {
                @if (User.Identity?.Name != cheep.Author)
                {
                    @if(followerMap.ContainsKey(cheep.Author) && followerMap[cheep.Author] == false) 
                    {
                        <form method="post" asp-page-handler="Follow">
                            <input type="hidden" name="authorName" value="@cheep.Author"/>
                            <input type="hidden" name="page" value="@currentPage" />
                            <button type="submit">Follow</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Unfollow">
                            <input type="hidden" name="authorName" value="@cheep.Author"/>
                            <input type="hidden" name="page" value="@currentPage" />
                            <button type="submit">Unfollow</button>
                        </form>
                    }
                }
            }
        </p>
    </li>
    }
</ul>